.search-box input,
.search-box select {
  border: none;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: #aaa;
  font-size: 0.9rem;
}

.search-box select option {
  color: #333;
}

.number-text::-webkit-outer-spin-button,
.number-text::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
